.activeclass {
  color: rgb(92, 176, 224) !important;
}
.navlink {
  color: black;
}
.logout {
  position: absolute;
  /* top: 50px; */
  right: 10px;
}
@media only screen and (max-width: 991px) {
  .logout {
    position: relative;
    width: 200px !important;
  }
}
