.month,
.year {
  padding-left: 10px;
}

#reportBtn {
  font-size: 12px;
}

.previous-reports {
  float: right;
  margin-right: 40px;
  display: flex;
  cursor: pointer;
  height: 38px;
}

.subtitle {
  transition: 0.3s ease-in-out;
  color: transparent;
  padding-left: 4px;
  visibility: hidden;
}

/* .img-text-wrapper:hover .subtitle {
color: black;
visibility: visible;
} */

.logo-wrapper img {
  margin-bottom: 20px;
  padding-left: 5px;
}

.report-table {
  margin-top: 80px;
  max-height: 300px;
  overflow-x: scroll !important;
}

.rep_label {
  color: white;
}
.excelIcon {
  width: 40px;
  background-color: transparent;
}

.img-text-wrapper {
  /* / float: left; / */
  position: relative;
  top: 0;
  display: flex;
  text-align: center;
}

.download {
  cursor: pointer;
  width: 130px;
  height: 0px;
  margin-top: 40px;
}
.download:hover {
  cursor: pointer;
}
.download_title {
  padding: 10px 5px;
  padding-top: 7px;
}
.report_title {
  font-size: 11px !important;
  padding-top: 5px;
}

.values-of-report td {
  font-size: 12px !important;
  text-align: center;
  padding: 0.3rem;
  vertical-align: top;
}

.confirm-btn {
  float: right;
  margin-right: 30px;
}
#final-input {
  width: 50px;
}

.my-custom-scrollbar {
  position: relative;
  max-height: 350px;
  /* / height: 500px; / */
  /* / max-width: 1350px; / */
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.datepicker {
  margin-right: 100px;
}
